<div th:fragment="tokabe" style="background-color: #353232; width: 68%" class="d-flex justify-content-center">
    <div style="width: 95%">
        <ul class="ul1">
            <li class="p1 li1">
                <a class="btn btn-primary"
                   style="font-weight: bold; background-color: #4c74a1; color: white; width: 335px;  border: 0px"
                >Поделиться в ВК</a>
            </li>
            <li class="li1">
                <a class="btn btn-primary"
                   style="font-weight: bold; background-color: #067eba; color: white; width: 335px; border: 0px"
                >В телегу</a>
            </li>
            <li class="li1">
                <a class="btn btn-primary"
                   style="font-weight: bold; background-color: #868484; color: white; width: 50px; border: 0px"
                ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                </svg></a>
            </li>
        </ul>
        <img width="750" height="450" th:src="'/images/' + ${article.getTheme_image()}" />
        <p style="color: white; margin-top: 3%">
            Токабо сигурэ в Genshin Impact –
            бесплатный ивентовый меч с основным статом мастерство стихий и пассивным эффектом на увеличение урона.
            Уникален тем, что является «живым» и всегда пристально наблюдает за свои владельцем.
            В концепции оружия прослеживается отсылка на призрак-зонтик Касабакэ из японской мифологии.
        </p>
        <p style="color: white; margin-top: 3%">
            В данном гайде можно узнать, как получить Токабо сигурэ, кому подходит меч и каким персонажам его лучше поставить.
        </p>
        <p style="color: white; margin-top: 3%">Содержание [<a href="#">Скрыть</a>]</p>
        <ul class="ul2">
            <li><a href="">Как получить Токабо сигурэ в Genshin Impact</a></li>
            <li><a href="">Характеристики Токабо сигурэ</a></li>
            <li><a href="">Как возвысить и пробудить Токабо сигурэ</a></li>
            <li><a href="">Кому подходит Токабо сигурэ в Genshin Impact</a></li>
            <li><a href="">Как играть с Токабо сигурэ</a></li>
        </ul>

        <div style="width: 105%; margin-left: -2.3%; margin-top: 8%; background-color: #e0e0e0" class="d-flex justify-content-center">
            <p style="font-size: 17pt; margin-top: 1%">КАК ПОЛУЧИТЬ ТОКАБО СИГУРЭ В GENHSIN IMPACT</p>
        </div>
        <p style="color: white; margin-top: 3%">
            Меч Токабо сигурэ можно получить в качестве награды в главном событии патча 3.3 –
            Акицу Кимодамэси (испытание екаев), которое пройдет в Инадзуме.
            Поэтому для участия в ивенте данный регион должен быть открыт.
        </p>
        <img width="750" height="450" src="/images/Screenshot_4-16.jpg" alt=""/>
        <p style="color: white; margin-top: 3%">
            Оружие выдается в качестве награды после завершения этапа
            «Хрустящие моти с сакурой» в режиме развлечения. Таким образом,
            игроки могут забрать меч буквально на старте события.
        </p>
        <div style="width: 105%; margin-left: -2.3%; margin-top: 8%; background-color: #e0e0e0" class="d-flex justify-content-center">
            <p style="font-size: 17pt; margin-top: 1%">ХАРАКТЕРИСТИКИ ТОКАБО СИГУРЭ</p>
        </div>
        <img width="472" height="800" style="margin-left: 20%;"
             src="/images/YZNYKwWQul5Nm4d0i94bvYh_t7Rf-a4s2-b0KdDOA0HyDaOEsEfp_z1QHGI4-7L-ntnJvTzn4KMUrptpHLGwZuTA-472x800.jpg" alt=""/>
        <p style="color: white; margin-top: 3%"><b>Тип:</b> одноручный меч.</p>
        <p style="color: white; margin-top: 3%"><b>Редкость:</b> ⭐⭐⭐⭐</p>
        <p style="color: white; margin-top: 3%"><b>Базовая атака:</b> 42-510.</p>
        <p style="color: white; margin-top: 3%"><b>Дополнительная характеристика:</b> мастерство стихий 36-165.</p>
        <p style="color: white; margin-top: 3%"><b>Пассивный эффект:
        </b> Кайдан: Объединяющий землю и дождь.
            При попадании по врагам на 10 секунд накладывает на одного из них эффект Проклятого зонта,
            который возникает раз в 15 секунд. Если пораженный этим эффектом противник погибнет до его окончания,
            откат обновится. Урон по врагам под действием Проклятого зонта увеличивается на 16%-32%.</p>
        <div style="width: 105%; margin-left: -2.3%; margin-top: 8%; background-color: #e0e0e0" class="d-flex justify-content-center">
            <p style="font-size: 17pt; margin-top: 1%">КАК ВОЗВЫСИТЬ И ПРОБУДИТЬ ТОКАБО СИГУРЭ</p>
        </div>
        <img width="750" height="450"
             src="/images/word-image-182263-3.jpeg" alt=""/>
        <p style="color: white; margin-top: 3%">
            Для возвышения Токабо сигурэ до 90-го уровня необходимы следующие материалы:
        </p>
        <ul class="ul2">
            <li style="color: white; margin-top: 3%">Мудрость, радость, милость и доблесть Наруками из подземелья Зал текущего песка.
                Фармятся во вторник, пятницу и воскресенье.</li>
            <li style="color: white; margin-top: 3%">Сломанная, загрязненная и блестящая призма с Первозданных конструкций.</li>
            <li style="color: white; margin-top: 3%">Гарды, выпадающие с Нобуси и Кайраги.</li>
            <li style="color: white; margin-top: 3%">605 000 моры, 605 единиц Волшебной руды усиления.</li>
        </ul>
        <p style="color: white; margin-top: 3%">
            Для пробуждения меча требуется Зонтовая пудра – особый материал,
            который можно обменять в магазине события за Билеты Кимодамэси.
            Поскольку данный ресурс является лимитированной валютой,
            он выдается только за прохождение этапов на различных режимах сложности в ивенте Акицу Кимодамэси.
        </p>
        <div style="width: 105%; margin-left: -2.3%; margin-top: 8%; background-color: #e0e0e0" class="d-flex justify-content-center">
            <p style="font-size: 17pt; margin-top: 1%">КОМУ ПОДХОДИТ ТОКАБО СИГУРЭ В GENSHIN IMPACT</p>
        </div>
        <p style="color: white; margin-top: 3%">
            Меч Токабо сигурэ стоит рассматривать на персонажей,
            играющих от реакций и собирающихся через мастерство стихий.
            При этом пассивный эффект увеличивает весь наносимый урон (в том числе от способностей, обычных атак и реакций).
            Поэтому меч также подойдет для второстепенных дд. Какие-либо условия для работы эффекта, кроме попадания по противнику,
            отсутствуют. Так что герой может использоваться как из кармана, так и на поле боя.
        </p>
        <p style="color: white; margin-top: 3%">
            Оружие способны реализовать следующие персонажи:
        </p>
        <ul class="ul2">
            <li style="color: white; margin-top: 3%">Кадзуха. Если отсутствуют формы для Стального жала или нет желания его крафтить,
                Токабо сигурэ станет хорошей альтернативой на данного героя благодаря бонусу к мастерству стихий (что важно для Кадзухи)
                и баффу на весь наносимый урон, который легко получить. Чаще всего выполняет роль второстепенного дд и среди остальных
                Анемо персонажей наиболее эффективен против одиночных целей, поэтому он отлично реализует данный меч.</li>
            <li style="color: white; margin-top: 3%">Дендро Путешественник также способен с пользой применить оружие.
                Поскольку имеет талант «Роскошная зелень», зависящий от МС, и в любой сборке играет именно от реакций.
                Кроме того, чаще всего он занимает позицию сап-дд, где увеличение дамага аналогично не лишнее.</li>
            <li style="color: white; margin-top: 3%">Куки Синобу обладает пассивным талантом «Спокойствие духа»,
                который повышает процент ее лечения и урона в зависимости от текущего мастерства.
                В синергии с эффектом оружия Куки может собираться не только в качестве целителя,
                но и второстепенного дамагера. Отличный выбор при игре через Вегетацию против крупных одиночных целей.</li>
            <li style="color: white; margin-top: 3%">Нилу. Хотя меч не повышает здоровье,
                которое является ключевой характеристикой героини, он дает возможность наносить
                больше урона от Бутонизации за счет основного стата и увеличивает весь наносимый дамаг.
                Зачастую Нилу занимает позицию главного или второстепенного дд, поэтому для нее это вполне
                стабильный и рабочий вариант. Тем более что эпические оружия на HP попросту отсутствуют.
                Единственное, важно учитывать, что бутоны рассчитаны на нанесение урона против группы врагов,
                а бонус сработает только против одного из них.</li>
            <li style="color: white; margin-top: 3%">Кэ Цин. Можно поставить при условии,
                что она играет в команде с Дендро через Стимуляцию или Вегетацию (например, с Нахидой, Син Цю или Кокоми).
                Урон этих реакций зависит от мастерства стихий, а значит оружие себя отлично показывает в данных командах.
                К тому же персонаж нацелен на несение урона, поэтому пассивный эффект также работает на максимум.</li>
            <li style="color: white; margin-top: 3%">Лайла. Оружие подойдет героине,
                если она является реактором, то есть вызывает реакцию в отряде через Таяние и собирается не только в качестве щитовика,
                но и сап-дд, наносящего урон от способностей.</li>
            <li style="color: white; margin-top: 3%">Син Цю. Не самый лучший вариант конкретно для него,
                так как тот же Церемониальный меч выигрывает по всем показателям. Однако несмотря на ситуативность,
                Токабо выглядит неплохим решением, если необходимо быстро одолеть противника с большим запасом здоровья.
                Отчасти даже бонус к МС не является лишним, так как Син Цю способен периодически вызывать реакции.</li>
        </ul>
        <p style="color: white; margin-top: 3%">
            В целом, практически любой сап дд с уроном вне поля боя может использовать бонус
            для увеличения дамага против одиночных врагов, помогая основному дамагеру.
            Это будет полезно в той же Витой Бездне против сложных боссов и «жирных» противников.
        </p>
        <div style="width: 105%; margin-left: -2.3%; margin-top: 8%; background-color: #e0e0e0" class="d-flex justify-content-center">
            <p style="font-size: 17pt; margin-top: 1%">КАК ИГРАТЬ С ТОКАБО СИГУРЭ</p>
        </div>
        <p style="color: white; margin-top: 3%">
            Основное условие для работы пассивного эффекта меча – попадание по врагу.
            После этого, в течение 10 секунд,
            экипированный оружием персонаж сможет наносить по нему повышенный урон. Примерная ротация:
        </p>
        <ul class="ul2">
            <li style="color: white; margin-top: 3%">Делаем основной целью врага с наибольшим количеством здоровья,
                если сражение происходит против группы мобов.</li>
            <li style="color: white; margin-top: 3%">На владельце оружия наносим этому противнику урон обычным или заряженным ударом,
                тем самым активируя пассивный эффект.
                После чего применяем ульту или элементальный навык, работающие вне поля боя.</li>
            <li style="color: white; margin-top: 3%">Переключаемся на основного дд или продолжаем атаковать на текущем герое.
                Используем все способности и реакции, нанося более высокий урон.</li>
            <li style="color: white; margin-top: 3%">Если противник погибает до окончания действия баффа (менее чем за 10 секунд),
                переходим на другого врага и повторяем ротацию с шага 1.</li>
        </ul>
        <p style="color: white; margin-top: 3%">
            Но стоит учитывать одну особенность Токабо сигурэ: в толпе противников бафф работает только на одного из них.
            То есть атаковать по толпе с увеличенным дамагом не выйдет.
            Поэтому оружие эффективнее себя проявит против боссов или одиночных врагов.
        </p>
    </div>
    <div style="
            position: fixed; height: 100%; width: 22%; left:67%; top: 35%; overflow-y: scroll;
        ">
        <th:block th:each="article: ${ads}">
            <a th:href="'/articles/' + ${article.getId()}"><img width="320" height="200" th:src="'/images/' + ${article.getTheme_image()}"></a>
            <a th:href="'/articles/' + ${article.getId()}"><h4 style="color: white; margin-top: 3%; font-size: 9pt" th:text="${article.getSubtext()}"></h4></a>
            <ul class="ul1">
                <li class="p1 li1" style="font-weight: bold; color: white; margin-left: -7%">BY</li>
                <li class="li1" style="font-weight: bold; "><a href="#" style="color: green; font-weight: bold" th:text="${article.getAuthor}"></a></li>
                <li class="p1 li1" style="color: white;"><p th:text="${article.getData()}"></p></li>
            </ul>
        </th:block>
    </div>
</div>